<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/aboutme">About Me</a>
      <a class="sidebar-nav-item{% if page.url == '/software-architecture/' %} active{% endif %}" href="/software-architecture">Software Architecture</a>
      <a class="sidebar-nav-item{% if page.url == '/domain-driven-design/' %} active{% endif %}" href="/domain-driven-design">Domain Driven Design</a>
      <a class="sidebar-nav-item{% if page.url == '/event-sourcing/' %} active{% endif %}" href="/event-sourcing">Event Sourcing</a>
      <a class="sidebar-nav-item{% if page.url == '/design-patterns/' %} active{% endif %}" href="/design-patterns">Programming Design Patterns</a>
      <a class="sidebar-nav-item{% if page.url == '/anti-patterns/' %} active{% endif %}" href="/anti-patterns">Programming Anti-Patterns</a>
      <a class="sidebar-nav-item{% if page.url == '/testing/' %} active{% endif %}" href="/testing">Testing</a>
      <a class="sidebar-nav-item{% if page.url == '/operations/' %} active{% endif %}" href="/operations">Operations</a>
      <a class="sidebar-nav-item{% if page.url == '/security/' %} active{% endif %}" href="/security">Security</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
